/src/cbits/scryptenc-jane/.git
/src/cbits/poly1305-donna/.git
/src/cbits/curve25519-donna/.git
/.cabal-sandbox/
/dist/
/bench/*.html
/.hpc/
/hpc_out/
cabal.sandbox.config
*.html
*.tix
*.o
*.hi
*~
*#
\.#*
